div:focus > .h5p-dragnresize-handle {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 7px;
  height: 7px;
  cursor: nwse-resize;
  border: 1px solid #0099ff;
}

div:focus > .h5p-dragnresize-handle.ne {
  left: auto;
  right: -5px;
  cursor: nesw-resize;
}

div:focus > .h5p-dragnresize-handle.sw {
  top: auto;
  bottom: -5px;
  cursor: nesw-resize;
}

div:focus > .h5p-dragnresize-handle.se {
  top: auto;
  left: auto;
  bottom: -5px;
  right: -5px;
}

div:focus > .h5p-dragnresize-handle.n {
  left: calc(50% - 3px);
  cursor: ns-resize;
}

div:focus > .h5p-dragnresize-handle.w {
  top: calc(50% - 3px);
  cursor: ew-resize;
}

div:focus > .h5p-dragnresize-handle.e {
  top: calc(50% - 3px);
  left: auto;
  right: -5px;
  cursor: ew-resize;
}

div:focus > .h5p-dragnresize-handle.s {
  top: auto;
  left: auto;
  bottom: -5px;
  right: calc(50% - 3px);
  cursor: ns-resize;
}
